{
	"printWidth": 100,
	"tabWidth": 2,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"jsxBracketSameLine": false,
	"bracketSpacing": true,
	"arrowParens": "always",
	"endOfLine": "lf",
	"quoteProps": "as-needed",
	"trailingComma": "none"
}
